.container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 10px;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  text-decoration: none;
  color: var(--c-darkestgrey);
  transition: background 200ms ease-in-out,
              color 200ms ease-in-out;
}

.tile:nth-child(1) {
  background: var(--c-border);
}

.tile:nth-child(2) {
  background: var(--c-border);
}

.tile:nth-child(3) {
  background: var(--c-border);
}

.tile:nth-child(4) {
  background: var(--c-border);
}

.tile:hover,
.tile:focus {
  background: var(--c-grey);
  color: white;
}