:root {
  --c-lightestgrey: #fafafa;
  --c-lightergrey: #f8f8f9;
  --c-lightgrey: #e9ebed;
  --c-border: #d8dcde;
  --c-grey: #68737d;
  --c-darkgrey: #49545c;
  --c-darkestgrey: #2f3941;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--c-darkestgrey);
}

* {
  box-sizing: border-box;
}

ul,
li {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  padding: 5rem 0;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  padding: 0 24px;
  border: 1px solid var(--c-border);
  border-radius: 8px;
  font-size: 16px;
  background: transparent;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: background 200ms ease-in-out,
              color 200ms ease-in-out,
              border-color 200ms ease-in-out;
}

button:hover,
button:focus {
  background: var(--c-darkgrey);
  border-color: var(--c-darkestgrey);
  color: white;
}

.button--icon {
  height: max-content;
  padding: 4px;
  border: 1px solid transparent;
}

.button--icon:hover,
.button--icon:focus {
  border: 1px solid var(--c-border);
  background: transparent;
}

a {
  border-bottom: 1px solid transparent;
  color: var(--c-darkgrey);
  text-decoration: none;
  transition: color 300ms ease-in-out,
              border-color 300ms ease-in-out;
}

a:hover,
a:focus {
  border-bottom: 1px solid currentColor;
  color: var(--c-darkestgrey);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  border: 1px solid var(--c-border);
  font-size: 16px;
}

td,
th {
  width: max-content;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--c-border);
}

th {
  background: var(--c-border);
}

input {
  width: 100%;
  padding: 4px;
  border: 1px solid var(--c-border);
  border-radius: 4px;
}

/* Utility classes */
.m-right--16 {
  margin-right: 16px;
}

.m-bottom--16 {
  margin-bottom: 16px;
}

.m-auto {
  margin: auto;
}

.textAlign--center {
  text-align: center;
}

.textAlign--left {
  text-align: left;
}

.flex {
  display: flex;
  align-items: center;
}

.gap--8 {
  gap: 8px;
}